{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "added", "release": "minor"},
        {"type": "changed", "release": "major"},
        {"type": "deprecated", "release": "minor"},
        {"type": "removed", "release": "major"},
        {"type": "fixed", "release": "patch"},
        {"type": "security", "release": "patch"},
      ],
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
      }
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "angular"
    }],
    ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md",
    }],
    ["@semantic-release/npm", {
      "npmPublish":false
    }],
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md", "package.json"],
      "message": "chore(release): ${nextRelease.version} \n\n${nextRelease.notes} \n\n[skip ci]"
    }]
  ]
}